body {
  background-color: #393E46;
  text-align: center;
  color: #4ECCA3;
}
h1{
  font-size: 7rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  margin-top: 0;
  margin-bottom: 0;
}
p{
  font-family: 'Indie Flower', cursive;
}
footer{
  color: #fff;
}
.container{
  text-align: center;
  margin: auto;
  width: 70%;
}
.dice{
  font-size: 2rem;
  margin: 0 5%;
  display: inline-block;
  width: 30%;
}
